<!-- Navbar -->
<div class="navbarBanner fixed-top" role="banner">
  <nav>
    <ul>
      <li>
        <a aria-label="Home" routerLink="/">
          <img src="../assets/jetjoneslogo.png" />
        </a>
      </li>
      <li>
        <a routerLink="/" class="nav-text">
          <span class="fas fa-home"></span>
          Home
        </a>
      </li>
      <li>
        <a routerLink="/rankings" class="nav-text">
          Rankings
        </a>
      </li>
      <li>
        <a routerLink="/divisionsorter" class="nav-text">
          Division Sorter
        </a>
      </li>
      <li>
        <a routerLink="/weeklystats" class="nav-text">
          Weekly Stats
        </a>
      </li>
    </ul>
  </nav>
</div>

<div class="page-content">
  <router-outlet></router-outlet>
</div>