<!-- Navbar -->
<div class="navbar" role="banner">
  <nav>
    <ul>
      <li>
        <a aria-label="Home" routerLink="/">
          <img src="../assets/jetjoneslogo.png" />
        </a>
      </li>
      <li>
        <a routerLink="/" class="nav-text">
          Home
        </a>
      </li>
      <li>
        <a routerLink="/" class="nav-text">
          Rankings
        </a>
      </li>
      <li>
        <a routerLink="/divisionsorter" class="nav-text">
          Division Sorter
        </a>
      </li>
    </ul>
  </nav>
</div>

<router-outlet></router-outlet>