body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}

h1 {
    font-weight: bold;
    font-size: 40px;
}

hr {
    background-color: black;
    height: 1px;
}

.flexContainer {
    display: flex;
    justify-content: center;
}