<div class="container">
    <h1>JetJones Tools</h1>
    <hr/>
    <h4>Welcome to JetJones Tools! Please select a tool below.</h4>
    <div class="flexContainer">
        <button (click)="route('/rankings')">
            <span class="fas fa-list"></span>
            Rankings
        </button>
        <button (click)="route('/divisionsorter')">
            <span class="fas fa-sitemap"></span>
            Division Sorter
        </button>
    </div>
    <br/>
    <iframe 
        width="1000" height="562"
        src="https://www.youtube.com/embed/cyE9D6vx9nA"
        frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
    </iframe>
</div>