<div class="container">
    <h1>Division Sorter Tool</h1>

    <form *ngIf="displayInitialOptions">
        <label>Enter number of teams</label> 
        <input type="text" id="numTeams"/>
        <br/>
        <br/>
        <label>Enter number of divisions</label> 
        <input type="text" id="numDivs"/>
        <br/>
        <br/>
        <label>Would you like to name your divisions?</label>
        <input type="checkbox" id="nameDivs"/>
    </form>

    <button *ngIf="displaySubmitButton" (click)="submitInfo()">
        Submit # of Teams & Divisions
    </button>

    <div *ngIf="displayTeamNameInputs">
        <div *ngFor="let id of teamInputObj">
            <label>Enter team #{{id}}</label>
            <input type="text" id="{{ 'team' + id }}"/>
        </div>
    </div>

    <div *ngIf="displayCollectButton">
        <br />
        <div *ngFor="let id of divInputObj">
            <label>Enter division #{{id}}</label>
            <input type="text" id="{{ 'div' + id }}"/>
        </div>
    </div>

    <button *ngIf="displayCollectButton" (click)="collectInfo()">
        Generate Divisions
    </button>

    <div *ngIf="displayResults">
        Hello?
        <div class="row">
            {{firstRowResults}}
            <div *ngFor="firstRowResults" class="col-md-3">
                Hey
            </div>
        </div>
        <div *ngIf="secondRowNeeded" class="row">
            <div *ngFor="secondRowResults" class="col-md-3">
                There
            </div>
        </div>
    </div>

    <div *ngIf="displayError">
        <ul *ngFor="let error of errorObj">
            <li>
                {{error}}
            </li>
        </ul>
    </div>
</div>