<div class="container">
    <h1 id="header">Division Sorter Tool</h1>
    <hr/>

    <div class="flexContainer">
        <div *ngIf="displayError" class="errorBox">
            <span class="fas fa-exclamation-triangle"></span>
            <span class="errorTitle">Please fix the following issues and try again.</span>
            <div *ngFor="let error of errorObj">
                &bull;&nbsp;{{error}}
            </div>
        </div>
    </div>

    <div *ngIf="displayInitialOptions">
        <div class="flexContainer">
            <form>
                <div class="inputBox">
                    <label>Enter number of teams</label> 
                    <input type="text" id="numTeams"/>
                </div>
                <div class="inputBox">
                    <label>Enter number of divisions</label> 
                    <input type="text" id="numDivs"/>
                </div>
                <div class="inputBox">
                    <label>Would you like to name your divisions?</label>
                    <input type="checkbox" id="nameDivs"/>
                </div>
            </form>
        </div>

        <button (click)="submitInfo()" id="submitInfo" type="button">
            <span class="fas fa-check"></span>
            Submit League Info
        </button>
    </div>

    <div *ngIf="displayInputBoxesAndGenerate">
        <div class="flexContainer">
            <form>
                <div *ngFor="let id of teamInfo.teamInputObj" class="inputBox">
                    <label>Enter team #{{id}}</label>
                    <input type="text" id="{{ 'team' + id }}" maxlength=25/>
                </div>

                <div *ngIf="divisionInfo.nameDivs"><hr/></div>
                <div *ngFor="let id of divisionInfo.divInputObj" class="inputBox">
                    <label>Enter division #{{id}}</label>
                    <input type="text" id="{{ 'div' + id }}" maxlength=25/>
                </div>
            </form>
        </div>
    
        <button (click)="collectInfo()">
            <span class="fas fa-bolt"></span>
            Generate Divisions
        </button>
    </div>

    <div *ngIf="displayResultsAndFinalButtons">
        <div *ngFor="let bucketRow of bucket" class="flexContainer">
            <div *ngFor="let result of bucketRow" class="divisionResult">
                    <span class="divName">{{ result.divName }}</span>
                <div *ngFor="let team of result.teams">
                    {{ team }}
                </div>
            </div>
        </div>

        <div>
            <button (click)="reroll()" class="rerollBtn">
                <span class="fas fa-dice"></span>
                Reroll Teams
            </button>
            <button (click)="redo()" class="redoBtn">
                <span class="fas fa-redo-alt"></span>
                Resubmit League Info
            </button>
        </div>
    </div>
</div>